*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
.kotlin/
app/src/main/ic_launcher-playstore.png
keystore.properties
*.jks
*.keystore
skry-release.keystore

